<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.thenewcircle.timenotifier">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <permission-group
        android:name="com.thenewcircle.timenotifier.TIME_UPDATE_PERMISSIONS"
        android:description="@string/perm_group_descr"
        android:label="@string/perm_group_label" />

    <permission
        android:name="com.thenewcircle.timenotifier.USE_TIME_NOTIFIER"
        android:description="@string/perm_use_time_notifier_descr"
        android:label="@string/perm_use_time_notifier_label"
        android:permissionGroup="com.thenewcircle.timenotifier.TIME_UPDATE_PERMISSIONS"
        android:protectionLevel="dangerous" />

    <permission
        android:name="com.thenewcircle.timenotifier.RECEIVE_NOTIFIER_TICK"
        android:description="@string/perm_rx_notifier_tick_descr"
        android:label="@string/perm_rx_notifier_tick_label"
        android:permissionGroup="com.thenewcircle.timenotifier.TIME_UPDATE_PERMISSIONS"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <service
            android:name=".TimeNotifierService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.thenewcircle.timenotifier.USE_TIME_NOTIFIER">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </service>
    </application>

</manifest>
